<div class="d-flex flex-row justify-content-between align-items-center">
  <a href="/"
    ><h2>{{ title }}</h2></a
  >
  <form>
    <input
      [(ngModel)]="search"
      type="text"
      id="search"
      name="search"
      maxlength="128"
      placeholder="Search for a movie"
      (keyup)="onChange()"
    />
    <button type="reset" class="btn btn-warning">X</button>
  </form>
  <a href="https://www.themoviedb.org/" referrerpolicy="no-referrer"
    ><h2>{{ attribution }}</h2></a
  >
</div>
