<div class="d-flex flex-row justify-content-between align-items-center">
  <nav class="d-flex">
    <a href="/">Home</a>
    <div class="movie-controls">
      <a routerLink="/movie">Movies</a>
      <ul class="genres">
        <li *ngFor="let item of genres">
          <a routerLink="/movie/genre/{{ item.id }}">
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div
    class="position-relative"
    (mouseenter)="showResults()"
    (mouseleave)="hideResults()"
  >
    <form>
      <input
        [(ngModel)]="searchValue"
        type="text"
        id="searchValue"
        name="searchValue"
        maxlength="128"
        placeholder="Search for a movie"
        (keyup)="onChange()"
        (focus)="onFocus()"
        (focusout)="onFocusout()"
      />
      <button type="button" class="btn btn-warning" (click)="resetInput()">
        X
      </button>
    </form>
    <div
      class="position-absolute top-100% start-0 end-0 bg-light search-results"
      *ngIf="(inputFocus || renderResults) && searchCollection"
    >
      <div
        class="d-flex align-items-center"
        *ngFor="let item of searchCollection"
      >
        <img
          src="https://image.tmdb.org/t/p/w92/{{ item?.poster_path }}"
          alt="{{ item.title }}"
        />
        <div>{{ item.title }}</div>
      </div>
    </div>
  </div>
  <a href="https://www.themoviedb.org/" referrerpolicy="no-referrer">
    <h3>{{ attribution }}</h3>
  </a>
</div>
