.search-results {
  img {
    height: 80px;
  }
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav {
  padding: 1rem;

  a {
    padding: 0.5rem 1rem;
    display: block;
    background-color: white;

    &:hover {
      filter: brightness(90%);
    }
  }

  .activeGenre {
    background-color: rgb(196, 196, 196) !important;
  }
}

.movie-controls,
.tv-controls {
  background-color: white;
  position: relative;

  &:hover > .genres {
    display: flex;
  }
}

.genres {
  display: none;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;

  a {
    padding: 0.25rem 1rem;
  }
}
