:host {
  background-color: rgb(20, 20, 20);
  color: rgb(225, 225, 225);

  > div {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  padding: 1rem;

  a {
    padding: 0.5rem 1rem;
    display: block;
    background-color: rgb(20, 20, 20);
    transition: 0.25s ease-in-out;

    &:hover {
      filter: brightness(150%);
    }

    &:active {
      filter: brightness(200%);
    }
  }
}

.movie-controls,
.tv-controls {
  position: relative;

  &:hover > .genres {
    display: flex;
  }
}

.genres {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;

  a {
    padding: 0.25rem 1rem;
    background-color: rgb(20, 20, 20);

    &:hover {
      filter: brightness(150%);
    }

    &.activeGenre {
      filter: brightness(150%);
    }

    &:active {
      filter: brightness(150%);
    }
  }
}

.search {
  position: relative;
  width: 400px;

  form {
    flex: 1;
    display: flex;

    input {
      flex: 1;
    }
  }

  .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgb(20, 20, 20);

    ul {
      padding: 0.5rem 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    li a {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
      background-color: rgb(20, 20, 20);
      transition: 0.25s ease-in-out;

      &:hover {
        background-color: rgb(40, 40, 40);
      }

      img {
        width: 68px;
        height: 100px;
        margin-right: 1rem;
        word-wrap: break-word;
      }
    }
  }
}
