div {
  padding: 0.5rem;
  transition: 0.15s ease-in-out;
  border-radius: 0.25rem;

  &:hover {
    box-shadow: 0 0 4px 2px rgb(100, 100, 100);
  }
}

a {
  display: inline-block;
  width: 200px;
}

img {
  display: block;
  margin-bottom: 0.5rem;
}
