<app-loading-spinner *ngIf="loading; else mainBlock"></app-loading-spinner>

<ng-template #mainBlock>
  <h2 class="text-capitalize">
    {{ searchCollection ? "Search Results:" : "Discover Tv Shows:" }}
  </h2>

  <div class="container" *ngIf="searchCollection">
    <app-tv-show-item
      *ngFor="let tvShow of searchCollection"
      [tvShow]="tvShow"
    ></app-tv-show-item>
  </div>

  <div class="container" *ngIf="!searchCollection">
    <app-tv-show-item
      *ngFor="let tvShow of collection"
      [tvShow]="tvShow"
    ></app-tv-show-item>
  </div>
</ng-template>
